# Virtual env
venv/
# Python cache
__pycache__/
**/__pycache__/
*.py[cod]
# Logs and DB
*.log
*.db
*.dump
# System files
.DS_Store
# Secrets
.env
certs/
# backup data
backups/
redis_data/
# IDE config
.vscode/
.idea/
# Docker
*.pem
# 用户资源
resources/user/