fastapi
uvicorn[standard]
sqlalchemy
asyncpg
psycopg2-binary
alembic
pydantic
pydantic_settings
python-jose[cryptography]
passlib[bcrypt]
redis>=4.2.0
python-dotenv
email-validator
python-multipart
apscheduler
geoip2
alibabacloud_ocr_api20210707==3.1.3
PyJWT>=2.8.0
alibabacloud_dysmsapi20180501==1.0.9